<h1>Make A Penguin</h1>
<%= form_for @penguin do |f| %>
<%= f.label "Name" %>
  <%= f.text_field :name %><br>
  <br>
<%= f.label "Title" %>
  <%= f.text_field :title %><br>
  <br>
<%= f.label "Temperament" %>
  <%= f.text_field :temp %><br>
  <br>
<%= f.label "Alive" %>
  <%= f.check_box :alive %><br>
  <br>
<%= f.label "Species" %>
  <%= f.text_field :species %><br>
  <br>
<%= f.label "Colony" %>
  <%= f.collection_select :colony_id, @colonies, :id, :name %><br>
  <br>
<%= f.submit %>
<% end  %>
