<h1> <%= @penguin.name %> </h1>

<ul> About Me
  <li>Title: <%= @penguin.title %></li>
  <li>Temperament: <%= @penguin.temp %></li>
  <li>Alive: <%= @penguin.alive %></li>
  <li>Species: <%= @penguin.species %></li>
</ul>
