<div class="one">
  <div class="icon-bar">
    <%= link_to image_tag(('delete_guin1.png'), :class => "edit_btn"), penguin_path(@penguin), {method: :delete, data: { confirm: '(｡•́︿•̀｡) Are you sure?'} }%>
    <%= link_to image_tag(('edit_guin1.png'), :class => "edit_btn"), edit_penguin_path(@penguin) %>
    <%= link_to image_tag(('create_guin1.png'), :class => "edit_btn"), new_penguin_path %>

    <% if @penguin.alive == true %>
      <%= link_to image_tag(('fishy.gif'), :class => "edit_btn"), feeding_path(@penguin), method: :patch%>
    <% end  %>
    
  </div>
</div>

<div class="two">
  <img src="<%= @penguin.image_url %>" class="profile_pic">
</div>

<div class="three">
  <h1> <%= @penguin.name %> </h1>
  <div class="peng_profile">

    <h4>Title</h4>
    <p><%= @penguin.title %></p>

    <h4>Temperament</h4>
    <p><%= @penguin.temp  %></p>

    <h4>Status</h4>
    <p><%= @penguin.alive_or_dead %></p>

    <h4>Species</h4>
    <p><%= @penguin.species %></p>

    <% if @penguin.alive == true %>
      <h4>Fishes Eaten</h4>
      <p><%= @penguin.fish %></p>
    <% end %>

    <h4>Colony</h4>
    <p><%= link_to  @penguin.colony.name, @penguin.colony, class:"peng_profile_2"%></p>

  </div>
</div>
