<h1> <%= @penguin.name %> </h1>

<div class="" style="background-image: url("adam_penguin.jpeg")>


<br>
<ul> About Me
  <li>Title: <%= @penguin.title %></li>
  <li>Temperament: <%= @penguin.temp %></li>
  <li>Status: <%= @penguin.alive_or_dead %></li>
  <li>Species: <%= @penguin.species %></li>
  <li>Colony: <%= link_to @penguin.colony.name, @penguin.colony %> </li>
</ul>

<%= button_to "Edit #{@penguin.name}", edit_penguin_path(@penguin), method: :get %>
<%= button_to "Delete #{@penguin.name}", @penguin, method: :delete %>

</div>
