<h1> <%= @penguin.name %> </h1>

<ul> About Me
  <li>Title: <%= @penguin.title %></li>
  <li>Temperament: <%= @penguin.temp %></li>
  <li>Status: <%= @penguin.alive_or_dead %></li>
  <li>Species: <%= @penguin.species %></li>
  <li>Colony: <%= link_to @penguin.colony.name, @penguin.colony %> </li>
</ul>
