<h1>Edit <%= @record.project_name %></h1>

<p>
  <%= form_for @record do |f| %>
  <%= f.label :project_name %>
  <%= f.text_field :project_name %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <%= f.submit %>
  <% end %>
</p>
