<div class="the_forms">
<h1>NEW RECORDS</h1>

<% if flash[:errors] %>
  <h5>(｡•́ ⌔ •̀｡) Oh no... </h5>
    <ul>
      <% flash[:errors].each do |error| %>
        <li>
          <%= error %>
        </li>
      <%end %>
    </ul>
<% end  %>
  <%= form_for @record do |f| %>
    <%= f.label "Project Name" %><br>
      <%= f.text_field :project_name %><br>
    <%= f.label "Colony" %><br>
      <%= f.collection_select :colony_id, @colonies, :id, :name %><br>
    <%= f.label "Location" %><br>
      <%=  f.text_field :location%><br>
      <br>
    <%= f.submit %>
  <% end  %>
</div>
