<h1> <%= @record.project_name %> </h1>

<h4> Location </h4>
<p> <%= @record.location %> </p>

<h4>Colony Information</h4>
<p>Name: <%= @colony.name %> </p>

<p>Status:  <%= @colony.active_or_not %> </p>
<p>Penguin Count: <%= @colony.penguin_count %> </p>
<p>Penguins: </p>
<ul>
  <% @penguins.each do |penguin| %>
  <li>
    <%= link_to penguin.name, penguin %> | <%= penguin.alive_or_dead %>
  </li>
  <% end %>
</ul>
