<div class="one">
  <div class="icon-bar">
    <%= link_to image_tag(('delete_guin1.png'), :class => "edit_btn"), record_path(@record), {method: :delete, data: { confirm: '(｡•́︿•̀｡) Are you sure?'} }%>
    <%= link_to image_tag(('edit_guin1.png'), :class => "edit_btn"), edit_record_path(@record) %>
  </div>
</div>

<div class="three">
  <h1> <%= @record.project_name %> </h1>
  <div class="peng_profile">

    <h4> Location </h4>
    <p> <%= @record.location %> </p>

    <h4>Colony Information</h4>
    <p>Name: <%= link_to @colony.name, @colony, class:"peng_profile_2" %> </p>

    <p>Status:  <%= @colony.active_or_not %> </p>
    <p>Penguin Count: <%= @colony.penguin_count %> </p>
  
  </div>
</div>
