<div class="the_forms">
<!-- <h1>This is the beginning. This is where penguins start</h1> -->
<h1>New User</h1>

<% if flash[:messages] %>
  <h5> (｡•́ ⌔ •̀｡) Oh no...  </h5>
    <ul>
        <li>
          <%= flash[:messages] %>
        </li>
    </ul>
    <br>
<% end %>

  <%= form_tag "/login", class:"new_login" do %>
  <%= label_tag :username %><br>
  <%= text_field_tag :username %><br>
  <%= label_tag :password %><br>
  <%= password_field_tag :password %><br>
  <%= submit_tag "LOGIN" %>
  <% end %>
</div>
