<div class="the_forms">
  <h1>Edit <%= @colony.name %></h1>

  <p>
    <%= form_for @colony do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.submit %>
    <% end %>
  </p>
</div>
