<div class="the_forms">

<% if flash[:errors] %>
  <h5>(｡•́ ⌔ •̀｡) Oh no... </h5>
    <ul>
      <% flash[:errors].each do |error| %>
        <li>
          <%= error %>
        </li>
      <%end %>
    </ul>
<% end  %>
<br>

<h1>NEW COLONY FORM</h1>
  <%= form_for @colony do |f|%>
    <%= f.label "Name" %><br>
      <%= f.text_field :name %><br>
    <%= f.label "Active" %><br>
      <%=  f.check_box :active%><br>
    <%= f.submit %>
  <% end  %>
</div>
