<div class="one">
  <div class="icon-bar">
    <%= link_to image_tag(('delete_guin1.png'), :class => "edit_btn"), colony_path(@colony), {method: :delete, data: { confirm: '(｡•́︿•̀｡) Are you sure?'} }%>
    <%= link_to image_tag(('edit_guin1.png'), :class => "edit_btn"), edit_colony_path(@colony) %>
    <%= link_to image_tag(('create_guin1.png'), :class => "edit_btn"), new_colony_path %>
  </div>
</div>

<div class="two">
  <h1> <%= @colony.name %> </h1>
  <p>Status:<br><%= @colony.active_or_not %> </p>
</div>

<div class="three">
  <h4> Penguinos</h4>

  <ul class="cards">
    <% @penguins.each do |penguin| %>
      <li class="card">
        <img src="<%= penguin.image_url %>" class="peng_img">
        <span class="peng_name"><%= link_to penguin.name, penguin %></span>
        <span class="peng_status"><%= penguin.alive_or_dead %>
      <li>
    <% end %>
  </ul>
</div>
