<h1>  <%= @colony.name %> </h1>
<p>Active: <%= @colony.active_or_not %> </p>


<br>
<h4> Penguinos</h4>
<ul>
  <li><%= link_to "Add Penguin", new_penguin_path %></li>
  <% @penguins.each do |penguin| %>
  <li>
    <%= link_to penguin.name, penguin %>
  </li>
  <% end %>
</ul>
<br> 
<%= button_to "Edit #{@colony.name}", edit_colony_path(@colony), method: :get %>
<%= button_to "Delete #{@colony.name}", @colony, method: :delete %>
