<h1>  <%= @colony.name %> </h1>
<p>Active: <%= @colony.active_or_not %> </p>


<br>
<h4> Penguinos</h4>

<ul class="cards">

  <% @penguins.each do |penguin| %>
    <li class="card">
      <img src="<%= penguin.image_url %>" class="peng_img">
      <span class="peng_name"><%= link_to penguin.name, penguin %></span>
      <span class="peng_status"><%= penguin.alive_or_dead %>
    <li>
  <% end %>
</ul>
<br>


<%= button_to "Edit #{@colony.name}", edit_colony_path(@colony), method: :get %>
<%= button_to "Delete #{@colony.name}", @colony, method: :delete %>
