<h1>Edit <%= @current_scientist.name %>'s profile</h1>

<%= form_for @current_scientist do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :age %>
<%= f.number_field :age %>
<%= f.label :bio %>
<%= f.text_area :bio %>
<%= f.submit "Submit Updates?" %>
<% end %>
