<div class="" align="left" margin: 0 0 $small-spacing;>

  <h1> <%= @current_scientist.name %> </h1>




<%= button_to "Create A Colony", new_colony_path, method: :get %>
  <h4>Age</h4>
  <p> <%= @current_scientist.age %> </p>

  <h4>Bio</h4>
  <p> <%= @current_scientist.bio %> </p>
</div>
<br>

<%= button_to "Edit #{@current_scientist.name}", edit_scientist_path(@current_scientist), method: :get %>
<%= button_to "Delete #{@current_scientist.name}", @colony, method: :delete %>
