<!DOCTYPE html>
<html>
  <head>
    <title>Penguino</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <p align="center"><%= image_tag "guin.jpg", class: "guin_logo" %></p>
      <h1 align='center' style='font-size:3rem;color:#6666DD'>Penguino</h1>
      <%= yield %>
    </div>
  </body>
</html>
