<!DOCTYPE html>
<html>
  <head>
    <title>Penguino</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <header >
        <a href="#" class="logo_link">
          <%= image_tag "guin.jpg", class: "guin_logo" %>
          <% if @current_scientist %>
            <%= "Logged in as #{@current_scientist.username}" %>
          <% end %>
        </a>

        <nav>
          <ul class="nav_links">
            <li><a href="#">Profile</a>  </li>
            <li><a href="#">Records</a>  </li>
            <li><a href="#">Colony</a>  </li>
            <li><a href="#">Penguins</a>  </li>
            <%# <%= button_to "log out yo",logout_path, method: :get  %>
            <a href="#"> <button type="button" name="button"> Log Out </button>  </a>
          </ul>
        </nav>
    </header>

    <div class="background">
      <div class='container'>
        <%= yield %>
      </div>
    </div>

  </body>
</html>
