<!DOCTYPE html>
<html>
  <head>
    <title>Penguino</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if @current_scientist %>
      <header >
        <a href=" <%= creation_path %> " class="logo_link">
          <%= image_tag "penguin_logo.jpg", class: "guin_logo" %>
            <%= "Logged in as #{@current_scientist.username}" %>
        </a>
        <nav>
          <ul class="nav_links">
            <li><a href=" <%= scientist_path(@current_scientist)  %>   ">Profile</a>  </li>
            <li><a href=" <%= records_path  %>   ">Records</a>  </li>
            <li><a href=" <%= colonies_path  %>  ">Colony</a>  </li>
            <li><a href=" <%= penguins_path  %>  ">Penguins</a>  </li>
            <!-- <li><a href=" <%= logout_path %> ">Logout</a></li> -->
            <a href=" <%= logout_path %>"> <button type="button" name="button"> Log Out </button> </a>
          </ul>
        </nav>
      </header>
    <% end %>
    <div class="background">
      <div class='container'>

      
        <%= yield %>
      </div>
    </div>
  </body>
</html>
